<div
  *ngIf="userType == 1"
  class="px-4 py-5 text-center"
  style="margin-top: 150px"
>
  <h1 class="display-5 fw-bold">Admin Panel</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      You can add/see; Teachers, Students, Courses and Users
    </p>
  </div>
</div>
<div
  *ngIf="userType == 2 && dataLoaded"
  class="px-4 py-5 text-center"
  style="margin-top: 150px"
>
  <h1 class="display-5 fw-bold">Teacher Panel</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">You can manage your courses</p>
    <p class="h5">Logged as: {{ name }}</p>
  </div>
</div>
<div
  *ngIf="userType == 3 && dataLoaded"
  class="px-4 py-5 text-center"
  style="margin-top: 150px"
>
  <h1 class="display-5 fw-bold">Student Panel</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">You can enroll courses and see course contents</p>
    <p class="h5">Logged as: {{ name }}</p>
  </div>
</div>
