<div class="container-fluid">
  <form [formGroup]="userAddForm">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">User name</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput9"
        placeholder="Enter username"
        formControlName="username"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label">Password</label>
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput10"
        placeholder="Enter password"
        formControlName="password"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput2" class="form-label">User type</label>
      <input
        type="number"
        class="form-control"
        id="exampleFormControlInput11"
        placeholder="1:admin, 2:teacher, 3:student"
        formControlName="userType"
      />
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="add()">
      Add
    </button>
  </form>
</div>
