<input
  type="text"
  [(ngModel)]="filterText"
  id="filterText5"
  placeholder="Search for student name"
  class="form-control mb-3 mt-3"
/>
<table *ngIf="dataLoaded" class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Student Name</th>
      <th scope="col">Fee</th>
      <th scope="col">Fee Paid</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students | filterForStudent: filterText">
      <th scope="row">{{ student.id }}</th>
      <td>{{ student.studentName }}</td>
      <td>{{ student.fee }}</td>
      <td>{{ student.feePaid }}</td>
      <div class="d-flex">
        <input
          type="number"
          [(ngModel)]="amount"
          class="form-control form-control-sm"
          style="width: min-content"
        />

        <button
          type="button"
          class="btn btn-outline-dark btn-sm"
          (click)="pay(student.id)"
        >
          Pay Fee
        </button>
      </div>
    </tr>
  </tbody>
</table>
